openapi: 3.0.3
info:
  description: "Unofficial HackTheBox API documentation."
  version: "1.0.0"
  title: "HackTheBox API"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "github@qu35t-mail.simplelogin.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: "https://www.hackthebox.com/api/v4"
tags:
- name: "Sherlocks"
  description: "Blue team mode"
  externalDocs:
    description: "HackTheBox link"
    url: "https://app.hackthebox.com/sherlocks"
- name: "Machines"
  description: "HackTheBox machines"
  externalDocs:
    description: "HackTheBox link"
    url: "https://app.hackthebox.com/machines"
- name: "Challenges"
  description: "HackTheBox challenges"
  externalDocs:
    description: "HackTheBox link"
    url: "https://app.hackthebox.com/challenges"
paths:
  /sherlocks:
    post:
      tags:
      - "Sherlocks"
      summary: "List all sherlocks."
      description: "Returns a list of all available sherlocks."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              # Définir les propriétés de la requête ici si nécessaire
      responses:
        '200':
          description: "successful operation"
          content:
            application/json:
              schema:
                type: object
                # Définir les propriétés de la réponse ici
      security:
        - AppToken: []
components:
  securitySchemes:
    AppToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
